@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-color: #131010;
  --secondary-color: rgb(215, 213, 213);
  --accent-color: #f0bb78;
  --warning-color: red;
}

/* ||GENERAL  */
* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--secondary-color);
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

section {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 96%;
  padding: 10px;
  margin-bottom: 30px;
}

input[type="submit"] {
  background: var(--primary-color);
  color: white;
  width: 100%;
}

input[type="submit"]:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

button:hover {
  cursor: pointer;
}

/* ||HEADER  */
header {
  background: var(--primary-color);
  text-align: center;
  color: white;
  padding: 2em;
}

/* ||MAIN  */
main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}

main #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background: white;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px gray;
  margin-bottom: 15px;
}

/* ||EXPENSE FORM  */
#expense-form {
  width: 100%;
}

/* ||EXPENSE LIST  */
#expense-list .delete-btn {
  background: red;
  padding: 5px 10px 5px 10px;
  border: none;
}

/* ||FOOTER  */
footer {
  text-align: center;
}
